@import "tailwindcss";

@theme {
  --font-sans: var(--font-noto-sans-tamil);
  --color-primary: #059669;
  --color-primary-dark: #047857;
  --color-secondary: #10b981;
}

/* Custom Utilities if needed */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: var(--font-noto-sans-tamil), sans-serif;
  background-color: #f8fafc;
  /* slate-50 */
}